{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{if .PageTitle}}{{.PageTitle}} &mdash; {{end}}{{.BlogName}}</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
<div id="rap">
<h1 id="header"><a href="/">{{.BlogName}}</a></h1>
<div id="description">{{.BlogDescription}}</div>
<div id="content">
{{end}}

{{define "sidebar"}}
</div><!-- /content -->
<div id="sidebar">
    <ul>
        <li><h2>Pages</h2>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </li>
        <li><h2>Meta</h2>
            <ul>
                <li>Powered by <a href="#">Press</a></li>
            </ul>
        </li>
    </ul>
</div>
{{end}}

{{define "footer"}}
<div id="footer">
    <p>{{.BlogName}} is powered by <a href="#">Press</a>.</p>
</div>
</div><!-- /rap -->
</body>
</html>
{{end}}
